@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;

}
html,body{
    height: 100%
}
body{
    background-color: rgb(230, 227, 222);
}
h1{
    display: flex;
    color: rgb(11, 9, 9);
    justify-content: center;
    margin: 10rem 0 10rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.516);
}
.cards {
     display: grid;
    max-width: 980px;
    height: 300px;
    grid-template-columns: repeat(3,1fr);
     margin: 0 auto;
    grid-gap: 40px;
    
}
.card .user{
 width: 100px;
 height: 100px;
 border-radius: 50%;
 margin-bottom: 15px;


}
.card{
    background-color:whitesmoke;


    display: flex;
    flex-direction:column;
    align-items: center;


    padding: 35px 60px;
    box-shadow:6px 6px 10px black;
    
}
.card h3 {
   
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;

}

p {
    margin-top: 15px;
    text-align: center;
}

.star{
    width: 20px;
   height: 20px;
   display: flex;
   
}
