
*{

    margin: 0;
    padding: 0;
}
#logo{
    display: flex;
    
   
    flex-direction:column;
    align-items: center;
    margin: 5rem 0 5rem 0;
    box-shadow:10px 10px 10px rgba(240, 31, 31, 0.87);

}
h1{
    display: flex;
    color: red;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow:6px 6px 10px rgba(250, 38, 38, 0.76);

}

#texto1 {
    background-color: white;
    padding: 35px 60px;
    box-shadow:6px 6px 10px rgba(232, 24, 24, 0.893);
    
}
p {
    color: black;
}
h2{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow:6px 6px 10px rgba(207, 22, 22, 0.267);
}
h4 {
    display: flex;
    color: red;
    justify-content: center;
    margin: 5rem 0 5rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
   
}

